
.priorities_choice div.form-item {
  display:inline;
  padding:4px;
}

#prioritiesset .bordbott {
  border-bottom:1px solid #EBEBEB;
  padding:5px;
}

/* override ...*/
#prioritiesset .node {
  border-bottom:none;
}

.form-item {
  margin-bottom:0;
  margin-top:0;
}

p {
  margin:0.9em 0 0;
  padding:0;
}

form#priorities-set-priorities .form-item {
  margin-bottom:0;
  margin-top:0;
}

form#priorities-set-priorities label {
  font-size: 80%;
}

form#priorities-set-priorities .form-radios {
  margin: 0;
}

form#priorities-set-priorities .form-submit {
  margin-top: 10px;
}

div#priorities-results div,
form#priorities-set-priorities div {
  line-height: 100%;
}

div#priorities-results div.node div.content h2,
form#priorities-set-priorities div.node div.content h2 {
  display: none;
}

div#priorities-results div.node div.meta,
form#priorities-set-priorities div.node div.meta {
  display: none;
}

div#priorities-results .node,
form#priorities-set-priorities .node {
  border-bottom: none;
  margin: 0 -26px 0;
  padding: 0 26px 0;
}

div#priorities-results h2,
form#priorities-set-priorities h2 {
  margin-bottom: 5px;
}

div#priorities-results h2 a,
form#priorities-set-priorities h2 a {
  font-size: 70%;
}

div#priorities-results p,
form#priorities-set-priorities p {
  font-size: 80%;
  margin-bottom: 0;
}

div#priorities-results tbody,
form#priorities-set-priorities tbody {
  border-top: 0 none;
}

div#priorities-results table,
form#priorities-set-priorities table {
  border-collapse: separate;
  margin:0 0;
}

.priorities-legend {
  margin-left: auto;
  margin-right: auto;
}

form#priorities-set-priorities td {
  width: 100px;
}

ul.links li {
  display: block;
}

div#priorities-description p {
  margin:1em 0;
  font-size: 100%;
}

div#priorities-nb-votes p {
  margin: 1em;
}

div#priorities-results div.node-links,
form#priorities-set-priorities div.node ul.links.inline,
div#priorities-results div.node ul.links.inline,
div#priorities-results div.node span.print-link {
  display: none;
}
